image: fouts/salt-master:latest
manifests:
  -
    image: fouts/salt-master:2018.3.3-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: fouts/salt-master:2018.3.3-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: fouts/salt-master:2018.3.3-arm
    platform:
      architecture: arm
      os: linux
      variant: v7
